{% extends 'base.html' %}

{# Comments in templates go inside these #}

{# For an application this small, only worry about changing the 'content' block #}
{# Variables are used with double curly braces {{ some_var }} #}
{# With minor exceptions, variable names must be passed in from render_template() #}
{# For a super-quick overview of templates, see the Jinja documentation
   at https://jinja.palletsprojects.com/en/2.10.x/templates/ #}
{% block title %}Sushi Menu{% endblock %}

{% block content %}
<p>This is my sushi menu. There are many like it, but this one's mine.</p>

<h2>Owner's View</h2>
<table>
  <thead>
    <tr><th>Item</th><th>Price</th>
    </thead>
    <tbody>
      {% for item in all_sushi %}
        <tr>
            <td><a href="edit/{{ item.id|escape }}">{{ item.name|escape }}</a></td>
          <td>{{ item.price|escape }}</td>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}